.header {
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    height: 15vh;

}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    h1 {
        font-size: 20px;
    }
}


.navHeader {
    width: 30%;

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    .Link {
        color: #ffff;
        font-size: 20px;
        text-decoration: none;
    }
}


.barraDePeaquisa {
    border: solid #fff;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    margin-right: 1%;

    input {
        background-color: transparent;
        border: none;
        width: 60%;
        height: 5vh;

        &::placeholder {
            font-size: 20px;
        }
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

}